* {
	margin: 0;
}
html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#site-wrapper {
	
	height: 100%;
	
}
#footer, .push {
	clear: both;
	height: 19px;
	width: 100%;
	margin: 0 auto;
}
#footer{
	margin-top: -19px;
}
.element{
	position: absolute;
	display: table-cell;
	height: 100%;
	width: 100%;
	
}
.active{
	display: table-cell;
	left: 0;
}
.answers {
	position: relative;
	font-size: 40px;
	width: 100%;
	margin: auto;
	z-index: 100;
	cursor: pointer;
	color: black;
}
.answers span.inactive{
	color: #aaa;
	cursor: default;
}
.active{
	border: 1px solid red;
}
span.text,div.questions{
	display: inline-block;
	
}